{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
  {{form_start(form2)}}
  {{form_label(form2)}}
  {{form_end(form2)}}
  <a href="{{ path('home') }}">Single City Search</a>
</div>
{% endblock %}
