{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
  {{form_start(form)}}
  {{form_label(form)}}
  {{form_end(form)}}
  <a href="{{ path('compare') }}">Compare 2 cities</a>
</div>
{% endblock %}
